
@section Content {

    <div align="center">
        <h1>Conway's Game of Life</h1>

        <canvas id="canvas-test" width="500" height="500">
            <p>Canvas not supported by this browser.</p>
        </canvas>
    </div>

}
